/*
 * Copyright (c) 2021 Nick Winans
 *
 * SPDX-License-Identifier: MIT
 */
//#include <dt-bindings/zmk/rgb.h>

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE      &kp F1        &kp F2        &kp A   &kp A   &kp A   &kp A   &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp GRAVE       &kp N1        &kp N2        &kp N3  &kp N4  &kp N5  &kp N6  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A         &kp A  &kp A  &kp A  &kp A  &kp A
&kp TAB         &kp Q         &kp W         &kp E   &kp A   &kp A   &kp A   &kp A  &kp A  &kp A  &kp A  &kp A  &kp A         &kp A  &kp A  &kp A  &kp A  &kp A
&kp CAPS        &kp A         &kp A         &kp A   &kp A   &kp A   &kp A   &kp A  &kp A  &kp A  &kp A  &kp A                &kp A  &kp A  &kp A  &kp A
&kp LEFT_SHIFT  &kp Z         &kp A         &kp A   &kp A   &kp A   &kp A   &kp A  &kp A  &kp A  &kp A         &kp A         &kp A  &kp A  &kp A  &kp A
&kp LCTRL       &kp LEFT_WIN  &kp LEFT_ALT          &kp A                                 &kp A  &kp A  &kp A         &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
            >;

            //            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
